<div class="sitebarleft">
    <div class="custom-scroll scrollable custom-scroll-light">
        <div slimScroll class="sitebarleft-slimscroll">
            <ul class="sitebarleft-menu">
                <li class="sitebarleft-menutitle">Main</li>
                <li class="with-sub">
                    <a uiSref="home" class="sitebarleft-mainitem">
                        <span class="s-icon"><i class="fa fa-tachometer" aria-hidden="true"></i></span>
                        <span class="s-text">Dashboard</span>
                    </a>
                </li>
                <li class="sitebarleft-menutitle">More</li>
                <li class="with-sub">
                    <a href="javascript:void(0)" class="sitebarleft-mainitem" (click)="openSubmenu($event)">
                        <span class="s-caret"><i class="fa fa-angle-down"></i></span>
                        <span class="s-icon"><i class="fa fa-cog" aria-hidden="true"></i></span>
                        <span class="s-text">Settings</span>
                    </a>
                    <ul style="display: none;">
                        <li><a uiSref="404">Site configuration</a></li>
                    </ul>
                </li>
                <li class="with-sub">
                    <a href="javascript:void(0)" class="sitebarleft-mainitem" (click)="openSubmenu($event)">
                        <span class="s-caret"><i class="fa fa-angle-down"></i></span>
                        <span class="s-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                        <span class="s-text">Users</span>
                    </a>
                    <ul style="display: none;">
                        <li><a uiSref="users.form">Role</a></li>
                        <li><a uiSref="users">Users</a></li>
                    </ul>
                </li>
                <li class="with-sub compact-hide">
                    <a href="javascript: void(0);" class="sitebarleft-mainitem" (click)="openSubmenu($event)">
                        <span class="s-caret"><i class="fa fa-angle-down"></i></span>
                        <span class="tag tag-success">3</span>
                        <span class="s-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
                        <span class="s-text">Menu Levels</span>
                    </a>
                    <ul style="display: none;">
                        <li class="with-sub">
                            <a href="javascript: void(0);" (click)="openSubmenu($event)">
                                <span class="s-caret"><i class="fa fa-angle-down"></i></span>
                                <span class="s-text">Level 1</span>
                            </a>
                            <ul style="display: none;">
                                <li class="with-sub">
                                    <a href="javascript: void(0);" (click)="openSubmenu($event)">
                                        <span class="s-caret"><i class="fa fa-angle-down"></i></span>
                                        <span class="s-text">Level 1.2</span>
                                    </a>
                                    <ul style="display: none;">
                                        <li class="with-sub">
                                            <a href="javascript: void(0);" (click)="openSubmenu($event)">
                                                <span class="s-caret"><i class="fa fa-angle-down"></i></span>
                                                <span class="s-text">Level 1.2.3</span>
                                            </a>
                                            <ul style="display: none;">
                                                <li><a href="javascript: void(0);">Level 1.2.3.4</a></li>
                                                <li><a href="javascript: void(0);">Level 1.2.3.4</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript: void(0);">Level 1.2.3</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript: void(0);">Level 1.2</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript: void(0);">Level 1</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>