$main-font-size: 13px;
$body-background-color: #bbc2ce;

$wrapper-background-color: #e8ebf0;
$boxed-wrapper-width: 1270px;

//header
$header-toggle-button-font-size: 1.5rem;
$header-toggle-button-icon-size: 1.3rem;

//sidebar-right
$sidebarright-main-color: #999;
$sidebarright-background-color: #fff;
$sidebarright-main-color-active: #333;
$sidebarright-nav-tabs-color: #eee;

//sidebar-left
$default-sitebarleft-color: #27043B;
$leftmenu-items-color: rgba(255, 255, 255, 0.7);
$leftmenu-items-hover: #fff;
$leftmenu-items-color-active: #fff;
$leftmenu-items-background-active: rgba(255, 255, 255, 0.1);

$leftmenu-items-group-title-size: 0.75rem;
$leftmenu-items-group-title-color: rgba(255, 255, 255, 0.5);

$leftmenu-items-submenu-color-compact: #777;
$leftmenu-items-submenu-color-compact-hover: #333;

$leftmenu-items-compact-hover: #373944;

$leftmenu-icon-size: 1.5rem;
$leftmenu-icon-size-mobile: 1.15rem;

$leftmenu-arrow-size: 14px;

//themes
$skin1-sitebarleft-color: #576CA1;
$skin1-header-color: #516187;
$skin1-header-navbarleft-color: #13285D;

$skin2-sitebarleft-color: #42526C;
$skin2-header-navbarleft-color: #42526C;

$skin3-sitebarleft-color: #fff;
$skin3-header-navbarleft-color: #fff;

$skin4-sitebarleft-color: #fff;
$skin4-header-color: #2F3F73;
$skin4-header-navbarleft-color: #2F3F73;

$skin5-sitebarleft-color: #fff;
$skin5-header-navbarleft-color: #226666;

$skin6-sitebarleft-color: #000;
$skin6-header-color: #fff;
