

/* Skin 1 */
.skin-1 {
  .sitebarleft {
    background-color: $skin1-sitebarleft-color;
    &-menu {
      li > a {
        color: rgba(0, 0, 0, 0.7);
      }
      li > a:hover, li.active > a {
        color: #333;
      }
    }
    &-menutitle {
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .header {
    .navbar-left {
      background-color: $skin1-header-navbarleft-color;
    }
    .navbar {
      background-color: $skin1-header-color;
    }
  }
}

.skin-1 .sitebarleft .sitebarleft-menu > li.active > a,
.skin-1.compact-sidebar .sitebarleft .sitebarleft-menu > li:hover {
  background-color: #eee;
}

/* Skin 2 */
.skin-2 {
  .sitebarleft {
    background-color: $skin2-sitebarleft-color;
  }
  .header {
    .navbar-left {
      background-color: $skin2-header-navbarleft-color;
    }
  }
}

/* Skin 3 */
.skin-3 .sitebarleft {
  background-color: $skin3-sitebarleft-color;
  &-menu {

    li > a {
      color: rgba(0, 0, 0, 0.7);
    }
    li > a:hover, li.active > a {
      color: #333;
    }
  }
  &-menutitle {
    color: rgba(0, 0, 0, 0.5);
  }
}

.skin-3 .sitebarleft .sitebarleft-menu > li.active > a,
.skin-3.compact-sidebar .sitebarleft .sitebarleft-menu > li:hover {
  background-color: #eee;
}

.skin-3 .header .navbar-left {
  background-color: $skin3-header-navbarleft-color;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* Skin 4 */
.skin-4 {
  .sitebarleft {
    background-color: $skin4-sitebarleft-color;
    &-menu {
      li > a {
        color: rgba(0, 0, 0, 0.7);
      }
      li > a:hover, li.active > a {
        color: #333;
      }
    }
    &-menutitle {
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .header {
    .navbar-left, .navbar {
      background-color: $skin4-header-navbarleft-color;
    }
    .navbar-brand .logo {
      background: url(../img/logo-second.png) no-repeat;
    }
  }
}

.skin-4 .sitebarleft .sitebarleft-menu > li.active > a,
.skin-4.compact-sidebar .sitebarleft .sitebarleft-menu > li:hover {
  background-color: #eee;
}

/* Skin 5 */
.skin-5 {
  .sitebarleft {
    background-color: $skin5-sitebarleft-color;
    &-menu {
      li > a {
        color: rgba(0, 0, 0, 0.7);
      }
      li > a:hover, li.active > a {
        color: #333;
      }
    }
    &-menutitle {
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .header {
    .navbar-left, .navbar {
      background-color: $skin5-header-navbarleft-color;
    }
  }
}

.skin-5 .sitebarleft .sitebarleft-menu > li.active > a,
.skin-5.compact-sidebar .sitebarleft .sitebarleft-menu > li:hover {
  background-color: #eee;
}

/* Skin 6 */
.skin-6 {
  .sitebarleft, .navbar-left {
    background-color: $skin6-sitebarleft-color;
  }
  .header {
    .navbar {
      background-color: $skin6-header-color;
    }
  }
  &-menu {
    li > a {
      color: rgba(0, 0, 0, 0.7);
    }
    li > a:hover, li.active > a {
      color: #333;
    }
  }
  &-menutitle {
    color: rgba(0, 0, 0, 0.5);
  }
}
