<div class="container">
    <!--<div class="card card-block">-->

    <form class="card card-block" (ngSubmit)="submit()">
        <div class="form-group" [class.has-danger]="errors.name">
            <input type="text" [(ngModel)]="model.name" name="name" class="form-control"
                   placeholder="Name">
            <div class="form-control-feedback" *ngIf="errors.name"
                 [innerHTML]="errors.name.join('<br>')"></div>
        </div>

        <div class="form-group" [class.has-danger]="errors.email">
            <input type="text" [(ngModel)]="model.email" name="email" class="form-control"
                   placeholder="Email">
            <div class="form-control-feedback" *ngIf="errors.email"
                 [innerHTML]="errors.email.join('<br>')"></div>
        </div>

        <div class="form-group" [class.has-danger]="errors.password">
            <input type="password" [(ngModel)]="model.password" name="password" class="form-control"
                   placeholder="Password">
            <div class="form-control-feedback" *ngIf="errors.password"
                 [innerHTML]="errors.password.join('<br>')"></div>
        </div>

        <div class="form-group" [class.has-danger]="errors.password_confirmation">
            <input type="password" [(ngModel)]="model.password_confirmation" name="password_confirmation" class="form-control"
                   placeholder="Repeat password">
            <div class="form-control-feedback" *ngIf="errors.password_confirmation"
                 [innerHTML]="errors.password_confirmation.join('<br>')"></div>
        </div>

        <hr>

        <div class="text-xs-center">
            <button class="btn btn-danger" routerLink="/users">Cancel</button>
            <button class="btn btn-primary" type="submit">Create user</button>
        </div>
    </form>
</div>