<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button"
            (click)="isCollapsedNavbar = !isCollapsedNavbar" [attr.aria-expanded]="!isCollapsedNavbar"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsedNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" uiSref="logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<ui-view></ui-view>