.sidebarright {
  position: absolute;
  z-index: 96;
  right: -350px;
  top: 60px;
  bottom: 0;
  width: 350px;
  background: $sidebarright-background-color;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  &-content {
    padding: 0 2rem;
    &-item {
      position: relative;
      margin-bottom: 1rem;
      padding-right: 3rem;
      input[type=checkbox]:checked + span + span {
        color: $sidebarright-main-color;
      }
    }
    &-title {
      margin-bottom: 1rem;
      font-weight: normal;
      color: $sidebarright-main-color;
      text-transform: uppercase;
    }
  }
  &-group {
    padding: 1.5rem 0;
  }
  &.opened {
    right: 0;
  }
  .nav-tabs {
    width: 100%;
    background-color: $sidebarright-nav-tabs-color;
    border: none;
    .nav-link.active, .nav-link.active:focus, .nav-link.active:hover {
      color: $sidebarright-main-color-active;
    }
    .nav-link {
      padding: 0.75em 1em;
      color: $sidebarright-main-color;
      border: none;
      border-radius: 0;
    }
  }
}
.fixed-header .sidebarright {
  position: fixed;
}